<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
		<style> 
		.ljy{
		text-align:center;
		background-image: linear-gradient(to right, #1b1314, #ccc 20%,#ddd 50%,#ccc,#1b1314);
		}
		.LLL{
		padding-left:6%;
		}
		</style>
</head>

<body>
    <form action="/voteUser" method="get">
        <div class ="ljy"><h1>Vote Demo</h1>
		<h4>This a demostration of voting system based on fabric</h4>
		</div>
        
        <table class="table">
            <thead>
                <th>#</th>
                <th>姓名</th>
                <th>票数</th>
            </thead>
            <tbody>
                <% 
                    jsonResult = JSON.parse(result)
                    for(var i=0; i<jsonResult.length; i++) { 
                %>
                <tr>
                    <td><%= i+1 %> </td>
                    <td><%= jsonResult[i].username %></td>
                    <td><%= jsonResult[i].votenum %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        
        <div class = "LLL">名字：
        <input type="text" name="username" id="username" />
        <button type="button" onclick="saveUserVote()">提交</button> </div>
    </form>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        function saveUserVote () {
            var username = $("#username").val()
            $.get ("/voteUser?username="+username,function(data){
                alert("submit success!\n"+ data)
                location.reload()
            })
        }
    </script>
</body>

</html>
